// General
$grey-text: #C5C4C4;
$error-red: #ea0c0c;
$link-color: #217ce0;


// Sidebar
$sidebar-background-color: #02325f;
$sidebar-foreground-color: #C5C4C4;
$sidebar-highlight-color: #FFF;
$sidebar-input-background: #2e5277;

// Header
$header-background-color: #05729b;

// Buttons
$main-button-background-focus: rgba(137, 208, 234, 0.18823529411764706); 
$main-button-color: #69cdf3;

// Notifications
$success-background-color: #e2f1da;
$success-border-color: #449e17;
$success-text-color: #449e17 !important;

// Contact cards
$card-border-color: #d2d8da;
$card-hover-background: #f1f0f0;
$card-hover-border: #a9a4a4;
$card-active-border: #403f3f;
$card-active-background: #ded8d8;
