
// Element-ui 
@import '../../../node_modules/element-ui/lib/theme-chalk/index.css';

// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "_variables.scss";


/**
 *  General Styles
 *  These are the general styles for the whole app.
 */

html, 
body, 
#appshell, 
.app {
	height: 100%;
	margin: 0;
	font-family: "Raleway";
}

.app {
	display: flex;
	flex-direction: row;
}

.animate {
	transition: all .3s ease;
}

.canvas {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	flex: 1;

	.content {
		flex: 1;
		background-color: #E9E9E9;
		display: flex;
	}

	.pull-right {
		float: right;
	}

	.pull-left {
		float: left;
	}
}

.success-notification {
	background-color: $success-background-color;
	border-color: $success-border-color;
	color: $success-text-color;

	p,
	i {
		color: $success-text-color;
	}
}

.el-checkbox__label,
.el-checkbox {
	font-size: 16px;
	color: inherit;
}

textarea,
input {
	font-family: Arial;
}


/* Sidebar Styles */
.sidebar
 {
	height: 100%;
	padding:0 20px;
	background-color: $sidebar-background-color;
	color: $sidebar-foreground-color;

	.brand {
		padding: 10px 0;
	    font-size: 24pt;
	    margin-bottom: 20px;
	    color: white;

	    .logo img {
	    	width: 1em;
	    }
	}

	.nav {
		list-style: none;
		padding: 0;
		margin: 10px 0;
		font-size: 20pt;
	}

	.nav-item {
		padding: 10px 0;
	}

	.nav-item a {
		text-decoration: none;
		color: $sidebar-foreground-color;
	}

	.nav-item i {
		width: 15%;
	}

	.nav-item .router-link-active {
		color: $sidebar-highlight-color;
	}

	.search-container {
		padding: 10px 0;
		border-bottom: 1px solid #363d54;

		.search-title {
			font-size: 20pt;
    		margin-bottom: 15px
		}

		input {
			margin: 10px 0;
		}

		input[type=text] {
			background-color: $sidebar-input-background;
			border-color: $sidebar-foreground-color;
			color: $sidebar-foreground-color;
		}

		input[type=text]:focus {
			border: 1px solid $sidebar-highlight-color;
			@extend .animate;
		}

		.btn {
			background-color: $sidebar-background-color;
			border-color: $sidebar-foreground-color;
			color: $sidebar-foreground-color;
			margin: 10px 0;
			@extend .animate;
		}

		.btn:hover,
		.btn:focus {
			border: 1px solid $sidebar-highlight-color;
		}

		.btn:active {
			color: $sidebar-highlight-color;
		}
	}
}

.sidebar-open {
	width: 12%;
	min-width: 225px;

	.nav-item-text {
		display: inlne;
	}

	.search-container {
		display: block;
	}

	.search-icon {
		display: none;
	}

	.logo {
		display: none;
	}

	.company {
		display: block;
	}
}

.sidebar-closed {
	width: 30px;

	.nav-item-text {
		display: none;
	}

	.search-container {
		display: none;
	}

	.search-icon {
		display: block;
		font-size: 20pt;
		padding-bottom: 30px;
		border-bottom: 1px solid #363d54;
	}

	.company {
		display: none;
	}

	.logo {
		display: block;
	}
}


/* Header Styles */
.header-container {
	height: 50px;
	background-color: $header-background-color;
	color: $grey-text;


	div {
		height: inherit;
	}

	.right-menu {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
	}

	.left-menu {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
	}

	.user {
		margin: 0 15px;
		color: $sidebar-highlight-color;
	}

	.sidebar-toggle {
		margin: 0 5px;
		cursor: pointer;
	}

	.sidebar-toggle:hover {
		color: $sidebar-highlight-color;
	}
}


/* Main Card Styling  - General */
.main-card {
	background-color: #fff;
	margin: 15px;
	flex: 1;
	display: flex;
	flex-direction: column;

	.main-card-left {
		padding-right: 0;
	}

	.card-title {
		margin: 0;
		font-weight: normal;
		display: inline;
		font-size: 20pt;
	}

	.section-heading {
		margin: 0 0 20px 0;
		font-weight: normal;
		font-size: 18pt;
	}

	.section-heading-middle {
		margin: 20px 0;
		font-weight: normal;
		font-size: 18pt;
	}

	.el-card__header {
		border-bottom-width: 2px;
	}

	.card-header {
		display: flex;
		align-items: center;
	}

	.top-options {
		float: right;
		display: flex;
		margin-left: auto;

		a {
			margin-left: 10px;
		}
	}

	.el-card__body {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		overflow-y: auto;
	}

	.card-slot-body {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
	}
	
	.form-fill {
		display: flex;
		flex-grow: 1;
		flex-direction: column;
	}
}

/* Contact Add Form */
.add-contact {
	.form-row {
		margin:10px 0 0 0;
		position: relative;
	}

	.errors {
		margin-top: 0;
		margin-bottom: 0;
		color: $error-red;
		font-size: .8rem;

		p {
			margin-top: 5px;
			margin-bottom: 0;
		}
	}

	.error-row {
		display: none;
	}

	.error-row.error {
		display: block;
	}

	.padding-right {
		padding-right: 20px;
	}

	label,
	input[type=checkbox] {
		cursor: pointer;
	}

	.form-date-picker {
		width: 100%;
	}

	.form-footer {
		flex-grow: 1;
		padding-bottom: 20px;
	}

	.footer-buttons {
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
	}
	
	.el-input-number {
		width: 100%;
		min-width: 150px;
	}
	
	.contact-add-btn {
		position: absolute;
		bottom: 0;
		right: 0;
	}

	.contact-notes {
		width: 80%;
	}
}

/* Helper classes */
.margin-right {
	margin-right: 20px;
}

.margin-top {
	margin-top: 20px;
}

.relative {
	position: relative;
}

.is-required::before {
	font-family: Font Awesome\ 5 Free;
	font-weight: 600;
	content: "\f069"; 
	position: absolute;
	top: 3px;
	left: -10px;
	font-size: 6px;
	color: $error-red;
}

.has-error input {
	border-color: $error-red;
}