
// Element-ui 
@import '../../../node_modules/element-ui/lib/theme-chalk/index.css';

// Fonts
@import url("https://fonts.googleapis.com/css?family=Quicksand");

// Variables
@import "_variables.scss";


/**
 *  General Styles
 *  These are the general styles for the whole app.
 */

html, 
body, 
#appshell, 
.app {
	height: 100%;
	margin: 0;
	font-family: "Quicksand", sans-serif;
}

.app {
	display: flex;
	flex-direction: row;
}

.animate {
	transition: all .3s ease;
}

.canvas {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	flex: 1;

	.content {
		flex: 1;
		background-color: #E9E9E9;
		display: flex;
	}

	.pull-right {
		float: right;
	}

	.pull-left {
		float: left;
	}
}

.success-notification {
	background-color: $success-background-color;
	border-color: $success-border-color;
	color: $success-text-color;

	p,
	i {
		color: $success-text-color;
	}
}

.el-checkbox__label,
.el-checkbox {
	font-size: 16px;
	color: inherit;
}

.el-input__inner,
.el-textarea__inner {
	border-radius: 0;
}

.el-form-item__label {
	font-size: 16px;
	color: inherit;
	cursor: default;
}

.el-select {
	width: 100%;
}

.el-popover {
	text-align: left;
	white-space: pre-line;
	font-size: 16px;

	.popover-icon {
		font-size: 16pt;
		float: right;
		cursor: pointer;
	}
}

.popover-message {
	white-space: normal;
}

.popover-buttons {
	margin-top: 10px;
}

.el-dropdown-menu {
	border-radius: 0;
}

.el-dropdown-menu__item:focus, 
.el-dropdown-menu__item:not(.is-disabled):hover {
	background-color: $header-background-color;
	color: #FFF;
}

textarea,
input {
	font-family: Arial;
}

a {
	text-decoration: none;
	color: $link-color;
}

a:hover,
a:focus {
	text-decoration: underline;
}

.el-button {
	border: 0;
	border-radius: 0;
	background-color: $header-background-color;
	color: #FFF;
	font-size: 16px;
}

.el-button:hover,
.el-button:focus {
	color: #FFF;
	background-color: #2174ca;
}

.btn-normal {
	color: #606266;
	background-color: #FFF;
	border: 1px solid #9a9da2;
}

.btn-normal:hover,
.btn-normal:focus {
	color: #606266;
	background-color: #e6e6e6;
	border: 1px solid #9a9da2;
}

.btn-danger {
	color: #FFF;
	background-color: #f56c6c;
	border: 0;
}

.btn-danger:hover,
.btn-danger:focus {
	color: #FFF;
	background-color: #c54f4f;
}

.btn-success {
	color: #FFF;
	background-color: #2bc32a;
	border: 0;
}

.btn-success:hover,
.btn-success:focus {
	color: #FFF;
	background-color: #1e9e1d;
}

.pac-container {
	min-width: 300px;
}

.dropdown-btn {
	color: $header-background-color;
	background-color: #FFF;
	border: 1px solid;
}

.dropdown-btn:hover,
.dropdown-btn:focus {
	color: $header-background-color;
	background-color: #FFF;
	border: 1px solid;
}



/* Sidebar Styles */
.sidebar
 {
	height: 100%;
	background-color: $sidebar-background-color;
	color: $sidebar-foreground-color;
	border: none;

	.brand {
		padding: 10px 20px;
	    font-size: 24pt;
	    margin-bottom: 20px;
	    color: white;

	    .logo img {
	    	width: 1em;
	    }
	}

	.search-container {
		padding: 10px 20px;
		border-bottom: 1px solid #bfcbd9;

		.search-title {
			font-size: 20pt;
    		margin-bottom: 15px
		}

		input {
			margin: 10px 0;
		}

		input[type=text] {
			background-color: $sidebar-input-background;
			border: 0;
			color: $sidebar-foreground-color;
			border-radius: 0;
		}

		input[type=text]:focus {
			border: 1px solid $sidebar-highlight-color;
			@extend .animate;
		}

		.btn {
			margin: 10px 0;
			@extend .animate;
		}

		.btn:active {
			color: $sidebar-highlight-color;
		}
	}

	.nav-item:hover,
	.nav-item:focus,
	.nav-item:active {
		background-color: #48576a;
	}

	.nav-item i {
		width: 15%;
	}

	.nav-item, 
	.nav-item i {
		font-size: 16pt;
		color: #bfcbd9;
	}

	.nav-item.is-active,
	.nav-item.is-active i {
		color: #409EFF;
	}
}

.sidebar:not(.el-menu--collapse) {
	width: 15%;
	min-width: 250PX;
	.nav-item-text {
		display: inlne;
	}

	.search-container {
		display: block;
	}

	.search-icon {
		display: none;
	}

	.logo {
		display: none;
	}

	.company {
		display: block;
	}
}

.sidebar.el-menu--collapse {
	.search-container {
		display: none;
	}

	.search-icon {
		display: block;
		font-size: 16pt;
		padding: 0 20px 20px 20px;
		border-bottom: 1px solid #bfcbd9;
	}

	.company {
		display: none;
	}

	.logo {
		display: block;
	}
}


/* Header Styles */
.header-container {
	height: 50px;
	background-color: $header-background-color;
	color: $sidebar-highlight-color;


	div {
		height: inherit;
	}

	.right-menu {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
	}

	.left-menu {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
	}

	.user {
		margin-right: 15px;
	}

	.logout {
		cursor: pointer;
		margin-right: 15px;
	}

	.logout:hover {
		color: $grey-text;
	}


	.sidebar-toggle {
		margin: 0 5px;
		cursor: pointer;
	}

	.sidebar-toggle:hover {
		color: $grey-text;
	}
}


/* Main Card Styling  - General */
.main-card {
	background-color: #fff;
	margin: 15px;
	flex: 1;
	display: flex;
	flex-direction: column;
	border-radius: 0;

	.main-card-left {
		padding-right: 0;
	}

	.card-title {
		margin: 0;
		font-weight: normal;
		display: inline;
		font-size: 20pt;
	}

	.section-heading {
		margin: 0 0 20px 0;
		font-weight: normal;
		font-size: 18pt;
	}

	.section-heading-middle {
		margin: 20px 0;
		font-weight: normal;
		font-size: 18pt;
	}

	.el-card__header {
		border-bottom-width: 2px;
	}

	.card-header {
		display: flex;
		align-items: center;
	}

	.header-buttons .header-btn {
		margin-left: 5px;
	}

	.top-options {
		float: right;
		display: flex;
		margin-left: auto;

		a {
			margin-left: 10px;
		}
	}

	.el-card__body {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		overflow-y: auto;
	}

	.card-slot-body {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
	}
	
	.form-fill {
		display: flex;
		flex-grow: 1;
		flex-direction: column;
	}

	.form-footer {
		display: flex;
		margin-top: 20px;
		margin-bottom: 20px;
	}
}

/* Contact Add Form */
.add-contact {
	.form-row {
		margin:10px 0 0 0;
		position: relative;
	}

	.errors {
		margin-top: 0;
		margin-bottom: 0;
		color: $error-red;
		font-size: .8rem;

		p {
			margin-top: 5px;
			margin-bottom: 0;
		}
	}

	.error-row {
		display: none;
	}

	.error-row.error {
		display: block;
	}

	.padding-right {
		padding-right: 20px;
	}

	.el-checkbox__label,
	input[type=checkbox] {
		cursor: pointer;
	}

	.form-date-picker {
		width: 100%;
	}

	.footer-buttons {
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
	}
	
	.el-input-number {
		width: 100%;
		min-width: 150px;
	}
	
	.contact-form-buttons {
		position: absolute;
		bottom: 0;
		right: 0;
	}

	.preapprove {
		padding-left: 10px;
	}
}

/* Contact listing Form */
.contact-listing {

	.list-container {
		flex-direction: column;
	}

	.card-body-controls {
		margin-bottom: 20px;
		justify-content: space-between;
	}

	.el-pager li {
		font-size: 16px;
	}

	.contact-item {
		border: 1px solid $card-border-color;
		padding: 10px;
		margin-bottom: 5px;
		margin-right: 5px;

		.contact-name {
			margin: 0 0 5px 0;
			font-size: 1.6em;
			font-weight: 600;
			display: inline-block;
		}

		.buyer-icon,
		.seller-icon {
			float: right;
			font-size: 1.6em;
			margin-left: 5px;
			color: #97999c;
		}
	}

	.contact-row {
		display: flex;
	}

	.contact-item:hover,
	.contact-item:focus {
		background-color: $card-hover-background;
		border-color: $card-hover-border;
		cursor: pointer;
		@extend .animate;
	}

	.contact-item:active {
		background-color: $card-active-background;
		border-color: $card-active-border;
	}
}

/* Contact View Page */
.view-contact {
	
	.padding-right {
		padding-right: 20px;
	}

	.contact-name {
		font-size: 24pt;
		margin: 0;
	}

	.contact-status {
		font-size: 16pt;
		font-weight: 500;
		margin-left: 10px;
	}

	.label {
		font-weight: 700;
	}

	.view-row {
		margin-bottom: 10px;
	}

	.address-buttons {
		margin-top: 20px;

		button {
			margin-right: 10px;
		}
	}

	.view-header {
		margin: 0 0 30px 0;
	}

	.el-tabs {

		.el-tabs__item {
			font-size: inherit;
		}

		.el-tabs__item.is-active,
		.el-tabs__item:hover {
			color: $header-background-color;
		}

		.el-tabs__content {
			display: flex;
			flex-grow: 1;
		}

		.el-tab-pane {
			flex-grow: 1;
		}
	}

	.request-cards {
		.el-tabs__nav {
			border-radius: 0;
		}
	}

	.pre-approved {
		color: $success-text-color;
	}

	.form-footer {
		margin-bottom: 0;
	}

	.contact-notes-table-wrapper {
		height: 100%;
	}
	
	.contact-notes-table {
		
		.row-note-edit {
			-webkit-appearance: none;
			background-color: #fff;
			background-image: none;
			border: 1px solid #dcdfe6;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			color: #606266;
			display: inline-block;
			font-size: inherit;
			height: 40px;
			line-height: 40px;
			outline: 0;
			padding: 0 15px;
			-webkit-transition: border-color .2s cubic-bezier(.645,.045,.355,1);
			transition: border-color .2s cubic-bezier(.645,.045,.355,1);
			width: 100%
		}

		.row-actions {
			padding-left: 10px;
			text-align: right;
		}

		.date-header,
		.action-header,
		.note-date,
		.row-actions
		{
			width: 15%;
		}

		.comment-header,
		.row-note {
			width: 70%;
		}
	}

	.contact-notes-button {
		float: right;
		margin-bottom: 10px;
		
		button {
			padding: 5px;
		}
	}
}

/* Address dialog */
.addressDialog {

	.el-dialog {
		width: 60%;
		height: 60%;
		display: flex;
		flex-direction: column;
	}

	.el-dialog__body {
		display: flex;
		flex-grow: 1;
		padding: 0 20px 20px 20px;
	}

	.dialogErrorMsg {
		font-size: 16px;
	}
}

/* Scrollable table */
.scrollable-table {
	font-size: 15px;
	width: 100%;
	height: 90%;
	border-spacing: 0;
	display: block;
	overflow-y: auto;

	thead {
		font-weight: 500;
		color: #909399;
		display: block;
	}

	th {
		border-bottom: 1px solid #ebeef5;
		overflow: hidden;
		text-align: left;
		white-space: nowrap;
		user-select: none;
		background-color: #FFF;
		vertical-align: middle;
		padding: 12px 0;
	}

	tbody {
		display: block;
	}

	tbody tr {
		border-top: 1px solid #ebeef5;
		background-color: #FFF;
		transition: background-color .25s ease;
	}

	tbody tr.comment-row:last-child {
		border-bottom: 1px solid #ebeef5;
	} 

	tbody tr:hover {
		background-color:#e9f1f9;
	}

	td {
		padding: 12px 0;
		min-width: 0;
		box-sizing: border-box;
		text-overflow: ellipsis;
		vertical-align: middle;
		position: relative
	}

	tr td:first-child,
	tr th:first-child {
		padding-left: 10px;
	}

	tr td:last-child,
	tr th:last-child {
		padding-right: 10px;
	}

	tr {
		width: 100%;
		display: inline-table;
	}
}

/* Message dialogs */
.message-dialog {
	.el-message-box__content {
		font-size: 16px;
	}
}

/* Helper classes */
.margin-right {
	margin-right: 20px;
}

.margin-top {
	margin-top: 20px;
}

.relative {
	position: relative;
}

.el-form-item.is-required .el-form-item__label:before {
	font-family: Font Awesome\ 5 Free;
	font-weight: 600;
	content: "\f069"; 
	position: absolute;
	left: -10px;
	font-size: 6px;
	color: $error-red;
}

.has-error input {
	border-color: $error-red;
}

.wrap {
	overflow-wrap: break-word;
}

.d-flex {
	display: flex;
}

.d-none {
	display: none!important;
}

.d-just-stretch {
	justify-content: stretch;
}

.d-just-center {
	justify-content: center;
}

.d-align-center {
	align-items: center;
}

.d-align-end {
	align-items: flex-end;
}

.d-just-space-around {
	justify-content: space-around;
}

.d-just-space-between {
	justify-content: space-between;
}

.d-just-end {
	justify-content: flex-end;
}

.d-column {
	flex-direction: column;
}

.d-grow {
	flex-grow: 1;
}

.d-shrink {
	flex-shrink: 0;
}